<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2 style="color:#4197d9;">Are you a developer?</h2>
        <p class="lead" style="color:#4197d9;">Want to build stag for your device?<a target="_blank" href="https://github.com/StagOS/manifest">click me!</a></p>
        <h2 style="color:#4197d9;">Contact us</h2>
        <ul class="list-inline">
          <li>
            <a href="https://instagram.com/stag_os?igshid=1bk3yjwsu1v8r"><img src="img/instagram.png" class="github"></img></a>
          </li>
          <li>
            <a href="https://t.me/HornsOfficial"><img src="img/telegram.png" class="github"></img></a>
          </li>
          <li>
            <a href="https://github.com/StagOS"><img src="img/github.png" class="github"></img></a>
          </li>
          <p class="text-muted"><a href="mailto:support@stag-os.org?subject=">support@stag-os.org</a></p>
        </ul>
        <hr class="small">
        <p class="text-muted">Made with &hearts; by Lightvortex</p>
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
      </div>
    </div>
  </div>
</footer>
