<header id="top" class="parallax">
  <div class="text-vertical-center">
    <div class="circles text-vertical-center-header">
    <div class="circle c1">
        <div class="circle c2">
            <div class="circle c3">
                <div class="circle c4">
                    <img class="image-circle" src="img/Stag-Logo.png">
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--<h1 style="color:#D8229E"; class=" bg-text">Say Hello To StagOS!</h1>-->
    <br>
    <a href="#callout" class="btn btn-dark btn-lg">Find Out More</a>
    <a href="downloads.html" class="btn btn-dark btn-lg">Downloads</a>
  </div>
</header>
