<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<h2 id="stag-toggle" href="#" class="btn-dark btn-lg toggle">Stag OS</h3>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a>Horns</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a href="#callout" onclick = $("#menu-close").click(); >About</a>
    </li>
        <li>
      <a href="#team" onclick = $("#menu-close").click(); >The Team</a>
    </li>
    <li>
      <a href="#portfolio" onclick = $("#menu-close").click(); >Screenshots</a>
    </li>
    <li>
      <a href="https://downloads.stag-os.org" onclick = $("#menu-close").click(); >Downloads</a>
    </li>
    <li>
      <a href="#footer" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul>
</nav>
