<section id="portfolio" class="parallax-slide">
<div class="container bg-slide">
<h1>Gallery<h1>
<div id="wrapper">

    <div id="carousel">
        <div class="imgBlock"><div id="div1"></div>
        <img src="img/screenshots/ss1.png" alt="" class="spinner-img">
        </div>
        <div class="imgBlock"><img src="img/screenshots/ss1.png" alt="" class="spinner-img">
        </div>
        <div class="imgBlock"><img src="img/screenshots/ss2.jpg" alt="" class="spinner-img">
        </div>
        <div class="imgBlock"><img src="img/screenshots/ss3.jpg" alt="" class="spinner-img">
        </div>
        <div class="imgBlock"><img src="img/screenshots/ss4.jpg" alt="" class="spinner-img">
        </div>
        <div class="imgBlock"><img src="img/screenshots/ss5.jpg" alt="" class="spinner-img">
        </div>
        <div class="imgBlock"><img src="img/screenshots/ss6.jpg" alt="" class="spinner-img">
        </div>
        <div class="imgBlock"><img src="img/screenshots/ss7.png" alt="" class="spinner-img">
        </div>
         <div class="imgBlock"><img src="img/screenshots/ss8.png" alt="" class="spinner-img">
        </div>
    </div>
        <div class="right" id="right">
        <div id="cta">
            <span class="arrow primera next "></span>
            <span class="arrow segunda next "></span>
        </div>
        </div>
        <div class="left" id="left">
        <div id="cta-left">
            <span class="arrow-left primera-left next-left "></span>
            <span class="arrow-left segunda-left next-left "></span>
        </div>
    </div>
</div>
</section>
