<aside id="team" class="parallax-slide">
   <!-- TEAM SECTION -->	
	<section id="speakers">
		<h3 style="color: #CFCFCF">Meet The Team</h3> <!-- Section Title -->
        <div class="container">
				<!-- Speaker 1 -->
				<div class="col-md-2">
					<a href="https://github.com/vjspranav" class="member-profile">
						<div class="unhover_img">
						<img src="img/vjs.jpg" alt="" />
						</div>
						<div class="hover_img">
						<img src="img/vjs.jpg" alt="" />
						</div>
						<span style="color: #4197d9">Founder</span>
						<h4 style="color: #4197d9">VJS Pranav</h4>
					</a>
				</div>
				
				<!-- Speaker 2 -->
				<div class="col-md-2">
					<a href="#" class="member-profile">
						<div class="unhover_img">
						<img src="img/phenom.jpg" alt="" />
						</div>
						<div class="hover_img">
						<img src="img/phenom.jpg" alt="" />
						</div>
						<span style="color: #4197d9">Founder</span>
						<h4 style="color: #4197d9">Phenom</h4>
					</a>	
				</div>
				
				<!-- Speaker 3 -->
				<div class="col-md-2">
					<a href="#" class="member-profile">
						<div class="unhover_img">
						<img src="img/pritish.jpg" alt="" />
						</div>
						<div class="hover_img">
						<img src="img/pritish.jpg" alt="" />
						</div>
						<span style="color: #4197d9">Designer</span>
						<h4 style="color: #4197d9">Pritish</h4>
					</a>									
				</div>
				<!-- Speaker 4 -->
				<div class="col-md-2">
					<a href="https://github.com/lightvortex" class="member-profile">
						<div class="unhover_img">
						<img src="img/vortex.png" alt="" />
						</div>
						<div class="hover_img">
						<img src="img/vortex.png" alt="" />
						</div>
						<span style="color: #4197d9">Web Designer</span>
						<h4 style="color: #4197d9">LightVortex</h4>
					</a>
				</div>
				<!-- Speaker 5 -->
				<div class="col-md-2">
					<a href="#" class="member-profile">
						<div class="unhover_img">
						<img src="img/rhlski.jpg" alt="" />
						</div>
						<div class="hover_img">
						<img src="img/rhlski.jpg" alt="" />
						</div>
						<span style="color: #4197d9">Designer</span>
						<h4 style="color: #4197d9">RHLSKI</h4>
					</a>
				</div>
				
				<!-- Speaker 6 -->	
				<div class="col-md-2">
					<a href="https://github.com/xayron" class="member-profile">
						<div class="unhover_img">
						<img src="img/debjit.jpg" alt="" />
						</div>
						<div class="hover_img">
						<img src="img/debjit.jpg" alt="" />
						</div>
						<span style="color: #4197d9">Lead Developer</span>
						<h4 style="color: #4197d9">Xyron</h4>
					</a>
				</div>
            </div>
		</div>
	</section>
	<!-- //SPEAKERS SECTION -->	
</aside>
