<!DOCTYPE html>
<html>
<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0;  user-scalable=0;" name="viewport">
  <head>
    <script src="jquery-2.1.4.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script data-ad-client="ca-pub-8566363461142031" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    {% include head.html %}
    <body>
        {% include navigation.html %}
        {% include header.html %}
        {% include callout.html %}
        {% include callout-2.html %}
        {% include callout-3.html %}
        {% include team.html %}
        {% include portfolio.html %}
        {% include footer.html %} 
        {% include scripts.html %}
    <div class="loader-wrapper">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <script>
        $(window).on("load",function(){
          $(".loader-wrapper").fadeOut("slow");
        });
    </script>
  </body>
</html>
